body,
html {
    width: 100%;
    height: 100%;
    padding: 10px, 10px, 10px, 10px;
}


/*.img {
    margin: auto;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}*/

.jumbotron {
    background-color: orange;
    color: black;
    margin-top: 30px;
}

.card-hotel {
    flex: 1 200px;
    margin-top: 20px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: orange;
    margin-bottom: 0px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.icon-adress {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}