@orange: #f59c02;
@red: #f50202;
@green: #23bd00;
.margenes(@top, @buttom) {
    margin-top: @top;
    margin-bottom: @buttom;
}

.padding(@top, @right) {
    padding-top: @top;
    padding-right: @right;
}
body,
html {
  width: 100%;
  height: 100%;
  padding: 10px, 10px, 10px, 10px; }

.jumbotron {
  background-color: @orange;
  color: black;
  .margenes(30px, 10px) }

.card-hotel {
  flex: 1 200px;
  .margenes(20px, 10px); }

footer {
  padding: 10px 10px 0 10px;
  background-color: @orange;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.icon-adress {
  padding-top: 0px;
  padding-right: 10px; }

.tab-content {
  .padding(10px, 0px); }
