body,
html {
  width: 100%;
  height: 100%;
  padding: 10px, 10px, 10px, 10px; }

.jumbotron {
  background-color: #f59c02;
  color: black;
  margin-top: 30px;
  margin-bottom: 10px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 20px;
  margin-bottom: 10px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #f59c02;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.icon-adress {
  padding-top: 0px;
  padding-right: 10px; }

.tab-content {
  padding-top: 10px;
  padding-right: 0px; }
